<ion-content>

    <topo-login title="Cadastrar Usuário"></topo-login>

    <form [formGroup] = "loginForm" (submit) = "createUser()">
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input formControlName="nome" type="nome" aria-placeholder="Nome" autfocus="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input formControlName="sobrenome" type="sobrenome" aria-placeholder="Sobrenome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input formControlName="email" type="email" aria-placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input formControlName="password" type="password" aria-placeholder="Senha"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input formControlName="confirm_pass" type="confirm_pass" aria-placeholder="Confirmar"></ion-input>
      </ion-item>

      <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if"> Enviar </ion-button>
  </form><br><br>

</ion-content>

<ion-footer>
  <ion-row>
      <ion-col>
          <ion-button [routerLink]="['/auth']" fill="clear" color="medium"> Voltar </ion-button>
      </ion-col>
  </ion-row>
</ion-footer>