  <div id="logo-div">
      <ion-text color="medium">
        <p>{{title ? title : ''}}</p>
        <img src="../../../assets/icon/login_icon.png">
        <h3>iFinanças</h3>
      </ion-text>
  </div>
