<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>

    <form [formGroup] = "contasForm" (submit) = "registrarConta()">
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input formControlName="parceiro" type="text" placeholder="Parceiro Comercial" autfocus="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="document" slot="start"></ion-icon>
        <ion-input formControlName="descricao" type="text" placeholder="Descrição"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="wallet" slot="start"></ion-icon>
        <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
      </ion-item><br><br>

      <ion-radio-group formControlName = "tipo"> 
        <ion-item>
          <ion-label>A pagar</ion-label>
          <ion-radio slot="start" value="pagar"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>A receber</ion-label>
          <ion-radio slot="start" value="receber"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if"> Enviar </ion-button>
    </form>
</ion-content>
