<ion-header>
  <ion-toolbar>
    <ion-title>Contas a Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let conta of listaContas">
          <ion-label>
            <h2>{{conta.parceiro}}</h2>
            <h5>{{conta.descricao}}</h5>
            <h3>R$ {{conta.valor}}</h3>
          </ion-label>
          <!-- <ion-icon name="trash-outline" slot="end" (click)="remover(conta)"></ion-icon> -->
          <ion-item slot="end" name="trash" (click)="remover(conta)"> </ion-item>
      </ion-item>
    </ion-list>
</ion-content>
