<ion-content>

  <topo-login></topo-login>

  <form [formGroup] = "loginForm" (submit) = "login()">
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input formControlName="email" type="email" aria-placeholder="E-mail" autfocus="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input formControlName="password" type="password" aria-placeholder="Senha"></ion-input>
      </ion-item><br><br>

      <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if"> Entrar </ion-button>
  </form>
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col>
            <ion-button [routerLink]="['/auth/forgot']" fill="clear" color="medium">Esqueci minha senha</ion-button>
        </ion-col>
        <ion-col>
             <ion-button [routerLink]="['/auth/register']" fill="clear" color="medium">Cadastrar</ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
